exportPattern("^[[:alpha:]]+")
import(phyloseq)
import(reshape2)
importFrom(Biostrings, readDNAStringSet)
importFrom(Biostrings, readAAStringSet)
importFrom("utils", "head", "read.delim", "read.table", "write.table")
